# Intro to Python

In [1]:
print("hello world") # This prints/displays: hello world

hello world

In [2]:
# Based on the above, write a line of code that prints/displays: I love chicken
# Answer:

# Numbers and Variables

## Numbers

##### There are 2 types of numbers: "Integers" and "Floating Point" numbers

1 is an integer (int)

1.0 is a floating point number (float)

In [3]:
# For each of the following numbers, write "int" or "float" next to them

# 2 ->
# 3.3333333333333 ->
# pi ->

## Arithmetic Operations

In [4]:
# Basics
# 1 + 1 = 2 (Addition)
# 2 - 1 = 1 (Subtraction)
# 3*5 = 15 (Multiplication)
# 10/2 = 5 (Division)

# Advanced
# 2**4 = 16 (Exponent, example 1) -> In other words 2*2*2*2
# 5**3 = 125 (Exponent, example 2) -> In other words 5*5*5
# 4**0.5 = 2 (Square root)

In [5]:
# Evaluate

# 2 + 2 = 

# 1235 - 65 = 

# 12*9 = 

# 52/2 = 

# 3**2 (In other words 3*3) =

## Variables

A variable stores the value of an item.

In [6]:
# For example:
a = 10
print(a)

10

In [7]:
x = "I am human"
print(x)

I am human

In [8]:
# What will be the result of the following print statement

# b = 5
# print(b)
# Answer: 

# c = b + b + b
# print(c)
# Answer:

# y = "I am not a dog"
# print(y)
# Answer:

# String

##### A string is a sequence of characters inside quotes

In [9]:
# For example:

# "This is a string"
# "I am human"
# s = "A cat" -> This is a variable, s, storing a string

## String Methods

String methods are functions that manipulate the string

In [10]:
## For example:

# Upper Case
s1 = "hello world"
s1.upper()

'HELLO WORLD'

In [11]:
# Lower Case
s2 = "HellO WORLd"
s2.lower()

'hello world'

In [12]:
# Capitalize
s3 = "hello world"
s3.capitalize()

'Hello world'

In [13]:
# Evaluate
# s1 = "hello kitty"
# s1.upper()

# Answer:

In [14]:
# Evaluate
# s1 = "hellO KittY"
# s1.lower()

# Answer:

In [15]:
# Evaluate
# s1 = "hello kitty"
# s1.capitalize()

# Answer:

## String Indexing

String indexing means accessing/grabbing an element inside the string.

In python indexing starts at 0. This means, the first element has ALWAYS an index of 0

In [16]:
# How to do it? We use the [] syntax. For example

s = "hello world"
s[0]  # Grabbing letter "h", which is the first character of the string

'h'

In [17]:
s[1] # Grabbing letter "e", which is the second character of the string

'e'

In [18]:
s[5] # A blank space is also a character. Grabbing letter " ", which is the sixth character of the string.

' '

In [19]:
s[7] # Grabbing letter " ", which is the eigth character of the string.

'o'

In [20]:
# Evaluate

# s = "pikachu is yellow"

# s[0] = 

# s[1] = 

# s[9] =

In [21]:
# Bonus question
# What if I want to grab the letter "p" in "pikachu" and uppercase it so that "p" becomes "P" ? Write the line of code that does it.
# Hint: Use string indexing and then apply a string method on it.

# Answer: